
.login-page
    min-block-size: 95vh
    padding: 6rem 0
    display: grid
    grid-template-columns: 1fr 1fr

.login-container
    background-color: $color-secondary-variant

.main-banner
   padding: 0 8rem

.main-image
    margin: 0 auto
    inline-size: 80%