*,
*::after,
*::before
    margin: 0
    padding: 0
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box

body
    background: $color-primary-light
    background: linear-gradient(153deg, $color-primary-light 0%, $color-terciary-light 80%)
    background-repeat: no-repeat
    color: $color-light
    font-family: Poppins
    min-inline-size: min-content

a
    text-decoration: none

li
    list-style: none

button
    background: none
    border: 0
    color: inherit
    cursor: pointer
    // font: inherit
    line-height: normal
    overflow: visible
    padding: 0
    -webkit-user-select: none
    -webkit-appearance: button
    -moz-user-select: none
    -ms-user-select: none

.layout
    max-inline-size: 1200px
    margin: 0 auto
    display: grid
    grid-template-columns: 1fr 2fr
