*,
*::after,
*::before
    margin: 0
    padding: 0
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box

body
    background-color: $color-light
    color: $color-light
    font-family: Poppins

a
    text-decoration: none
    color: $color-light

li
    list-style: none

.layout
    max-width: 1200px
    margin: 0 auto
    display: grid
    grid-template-columns: 1fr 3fr
