
$color-bg-variant: #241434
$color-primary: #380c64
$color-primary-variant: #5e2c90
$color-primary-light: #f2e4ff
$color-primary-trans: #380c6465
$color-secondary: #ff3e4f
$color-secondary-variant: #ff6f7b
$color-secondary-light: #ffe3e5
$color-terciary: #89fff3
$color-terciary-light: #e2fffc
$color-light: #F9F9F9
$color-light-trns: #ffffff2c
$color-dark: #0D0D0D
$color-link: #3366BB
$color-white: #fff
$color-black: #000

$shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2)

$text-sm-size: 0.9rem
$text-size: 1.1rem
$text-lg-size: 1.3rem
$text-xl-size: 1.8rem
$text-xxl-size: 3rem

$breakpoint-tablet: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1400px