
.btn
    border: none
    border-radius: 2rem
    display: inline-block
    font-size: $text-size
    inline-size: min-content
    margin: 1rem 0
    padding: 1rem 2rem
    text-align: center

.btn-block
    inline-size: 100%

.btn-primary
    background-color: $color-primary

.btn-secondary
    background-color: $color-secondary
