.modal-overlay
    position: fixed
    z-index: 50
    width: 100%
    height: 100%


.modal
    background: $color-terciary-light
    border-radius: 1rem
    box-shadow: 0 0 20px $color-bg-variant
    color: $color-dark
    position: absolute
    z-index: 100
    overflow: hidden
    &-close
        // height: 30px
        // line-height: 30px
        color: $color-secondary
        display: flex
        justify-content: flex-end
        font-size: $text-lg-size
        padding-inline: 0.5rem
        padding-block: 0.2rem
        &__icon
            display: flex
            align-items: center
            &:hover
                cursor: pointer
