
.post-card
    padding: 0.5rem
    color: $color-dark
    border-block-start: 1px solid $color-dark
    position: relative

.post-title
    font-size: $text-lg-size
    margin: 0.3rem 0
    font-weight: 600

.post-info
    font-size: $text-lg-size

.heart-content
    cursor: pointer
    position: relative
    inline-size: max-content
    .like
        position: absolute
    .numb
        position: relative
        inset-inline-start: 20px
    span
        color: $color-secondary

.icons-container
    display: flex
    align-items: center
    justify-content: center
    gap: 3rem

.rating-content
    display: flex
    align-items: center
    gap: 0.5rem

.tags-container
    display: flex
    flex-wrap: wrap
    margin-block-start: 0.5rem
    span
        background-color: $color-primary-variant
        border-radius: 0.3rem
        color: $color-light
        font-size: $text-sm-size
        margin-inline-end: 1rem
        padding: 0 0.5rem

.hidden
    visibility: hidden

.rating
    color: $color-secondary!important

.post-menu
    block-size: 2rem
    aspect-ratio: 1 / 1
    border-radius: 50%
    font-size: $text-xl-size
    inset-inline-end: 1rem
    line-height: 2rem
    position: absolute
    text-align: center
    &__icon
        display: inline-block
        width: 100%
    &:hover
        background-color: $color-primary-trans
        color: $color-primary
        cursor: pointer
