
@import "../_variables"

.info-container
    position: relative

.user-title
    font-size: $text-lg-size
    font-weight: 300

.button-container
    margin: 1rem 0
    z-index: 0
    display: flex
    gap: 1rem
    a
        z-index: 1

.post-foot
    margin-bottom: 0.4rem
    display: flex
    justify-content: flex-end
