
@import "../_variables"

.info-container
    position: relative
    h3
        font-size: $text-size
        font-weight: 300
        margin-bottom: 0.5rem

.user-title
    font-size: $text-lg-size
    font-weight: 300

.buttons-container
    margin: 1rem 0
    z-index: 0
    display: flex
    justify-content: flex-start
    gap: 1rem
    a
        z-index: 1

.post-foot
    margin-bottom: 0.4rem
    display: flex
    justify-content: flex-end
