.edit__container {
    padding-top: 1.5rem;
}

.login-form {
    margin-top: 1.5rem;
}

.login-form input {
    border: 1px solid var(--color-primary);
    background-color: none;
    width: 75%;
    padding: 0.2rem 0.5rem;
    margin: 0 1rem 0.5rem 1rem;
    line-height: 2rem;
    border-radius: 0.3rem;
    resize: none;
    color: var(--color-dark);
    font-size: 0.8rem;
}

.login-form input[type="submit"] {
    margin-top: 0.5rem;
    color: var(--color-bg);
    background: var(--color-primary);
  }