.following {
    /* position: relative; */
}

.title-container {
    margin-top: 20px;
}

.title-container p {
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-container button {
    margin-top: 5px;
    padding: 5px 8px;
    background-color: var(--color-primary-variant);
    color: var(--color-bg);
    border-radius: 15px;
    font-size: 0.8rem;
    cursor: pointer;
}