/* .modal-follow {
    display: none;
    width: 100%;
    height: 100vh;
    /* background: rgba(240, 166, 68, 0.435); 
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
}

.is-open {
    display: flex;
}

.modal-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 60%;
    background-color: var(--color-bg);
    border: 1px solid var(--color-primary-variant);
    border-radius: 3px;
    gap: 10px;
    text-align: center;
}

.modal-container button {
    padding: 0 5px;
    background: var(--color-primary);
    color: var(--color-bg)
}

.modal-container button:nth-child(2) {
    background: var(--color-primary-variant);
} */