.main {
    margin-top: 2rem;
}

.btn-primary {
    display: inline-block;
    margin-top: 5px;
    padding: 5px 8px;
    background-color: var(--color-primary-variant);
    color: var(--color-bg);
    border-radius: 15px;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
}