
@import "../_variables"

input
    border: 1px solid $color-light-trns
    color: $color-light

input[type="submit"]
    margin-top: 1.5rem
    color: $color-light
    background: $color-primary
    border: none

.signup
    padding-top: 3rem
    text-align: left
    form
        margin-top: 5rem
        label
            display: block
            margin-top: 0.5rem
            font-size: $text-sm-size
            font-weight: 300
        span
            font-size: 0.9rem
            font-weight: 300

.signin-container
    margin-top: 2rem
    text-align: center
    p
        display: inline
    a
        display: inline
        background: none
        font-size: $text-size
        color: $color-link
