
@import "../_variables"

.post__container
    margin-top: 1.5rem
    textarea, button
        display: block
        margin: 1rem auto
    textarea
        width: 100%
        resize: none
        background: $color-bg-trns
        border-radius: $border-radius
        border: 1px solid $color-light-trns
        padding: 0.3rem
        color: $color-light
        font-weight: 200

.btn-container
    margin: 1rem 0

.posts-container
    margin-top: 2rem
